{% extends 'base.html.twig' %}

{% block title %}QWITTER{% endblock %}
{% block header %}
{% endblock %}

{% block body %}
    <section id="homepage">
        <h1>QWITTER</h1>
    </section>
{% endblock %}

